* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
main {
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
body {
	background-color: #efefef;
}
.photo {
	width: calc(50% - 40px);
	height: calc((35vw - 40px) / 16 * 9);
	margin: 10px;
	background-color: blue;
	background-position: center;
	background-size: cover;
}
h1 {
	width: 100%;
	text-align: center;
	font-size: 48px;
}
.photo1 {
	background-image: url(../img/2.png);
}
.photo2 {
	background-image: url(../img/1.png);
}
.photo3 {
		background-image:url(../img/3.jpg);
}
.photo4 {
		background-image: url(../img/4.jpg);
}
